<div class="preview-container">
  <div *ngFor="let room of rooms" class="preview-item">

    <div>
      <div class="title">Date:</div>
      <div>
        {{ room.date | date:'yyyy.MM.dd hh:mm' }}
      </div>
    </div>

    <div>
      <div class="title">Room:</div>
      <div>
        {{ room.room }}
      </div>
    </div>

    <div>
      <div class="title">Temperature:</div>
      <div>
        {{ room.temperatureC }} C
      </div>
    </div>

    <div>
      <div class="title">Humidity:</div>
      <div>
        {{ room.humidity }} %
      </div>
    </div>

  </div>

</div>




<!-- Version container -->
<div id='appVersion'>
  <span [attr.title]='appVersion'>{{ appVersion }}</span>
</div>