@import "@angular/material/prebuilt-themes/indigo-pink.css";

body {
    margin: 0;
    padding: 0;
    //font-family: "Roboto";
    //background: #61d2d5;
    // background: transparent;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    //@extend .noselect;
}

#appVersion {
    z-index: 2;
    color: white;
    font-size: 8pt;
    position: fixed;
    bottom: 2px;
    left: 5px;
    display: grid;
}